extends ../layouts/primary

block content
	.container
		.row
			.col-md-12
				.jumbotron
					h1 Failed login!
					p It looks like your password was incorrect. Please try again!
					a(href='/admin/signin').btn.btn-primary.btn-lg Click here to go back
