extends ../layouts/admin

block content
	.container
		.row
			each message in messages
				.col-md-4
					.panel.panel-default
						.panel-heading
							a(href='/admin/messages/#{message.id}')
								h3.panel-title= message.subject
						.panel-body
							p!= message.message.split('').slice(0, 300).join('') + '...'
