extends ../layouts/admin

block content
	script(type="text/javascript").
		$(document).ready(function() {
			nicEditors.allTextAreas();
		});
	.container
		form(action="/admin/posts/new", method="post")
			.form-group
				.row
					.col-md-12
						label(for="title") Title
						input(type="text", placeholder="Title", name="title").form-control#title
			.form-group
				.row
					.col-md-12
						label(for="content") Body Content
						textarea(name="content", rows="15", placeholder="Body Content").form-control#content

			.form-group
				.row
					.col-md-12
						button(type="submit").btn.btn-primary Submit
