extends ../layouts/primary

block content
	.container
		.row
			.col-md-12
				.jumbotron
					h1 You're not logged in!
					p It looks like you you haven't signed in! Use the form below to log in.

		form(action='/signin', method='POST')
			.form-group
				.row
					.col-md-12
						label(for='password') Password
						input(type='password', name='password', placeholder='Password').form-control
			.form-group
				.row
					.col-md-12
						button(type='submit').btn.btn-primary.btn-lg.pull-right Submit
