extends ../layouts/admin

block content
	.container
		form(action="/admin/notes/#{note.id}", method="post")
			.form-group
				.row
					.col-md-12
						label(for="Title") Title
						input(type="text", placeholder="Title of Note", name="title", value='#{note.title}').form-control

			.form-group
				.row
					.col-md-12
						label(for="content") Body Content
						textarea(name="content", rows="15", placeholder="Body Content").form-control #{note.content}

			.form-group
				.row
					.col-md-12
						button(type="submit").btn.btn-primary.pull-right Submit
			.spacer-small
				.row
					.col-md-12
						a(href='/admin/notes/delete/#{note.id}').btn.btn-danger.pull-right Delete
