extends ../layouts/admin

block content
	.container
		form(action='/admin/notes/new', method='POST').form-inline
			.row
				.col-md-12
					.form-group.center-block.text-center.pull-right
						input(type='text', name='title', placeholder='Title').form-control
						input(type='text', name='content', placeholder='Content').form-control
						button(type='submit').btn.btn-primary Submit
		div(style='height: 20px; width: 100%; display: block;')
		.row
			each note in notes
				.col-md-4
					.panel.panel-default
						.panel-heading
							a(href='/admin/notes/#{note.id}')
								h3.panel-title= note.title
						.panel-body
							p
								span= note.content
