extends ../layouts/admin

block content
	.container
		.row
			each post in posts
				.col-md-4
					.panel.panel-default
						.panel-heading
							a(href='/admin/posts/#{post.id}')
								h3.panel-title= post.title
						.panel-body
							p!= post.content.split('').slice(0, 300).join('') + '...'
