extends ../layouts/admin

block content
	.container
		.row
			.col-md-12
				h1= message.name
				h2= message.subject
				p.lead= message.email
		.row
			.col-md-12
				p= message.message
		.spacer-small
			.row
				.col-md-12
					a(href='/admin/messages/delete/#{message.id}').btn.btn-danger.pull-right Delete