extends ../layouts/admin

block content
	.container
		form(action='/admin/tasks/new', method='POST').form-inline
			.row
				.col-md-12
					.form-group.center-block.text-center.pull-right
						input(type='text', name='name', placeholder='Name').form-control
						select(name='priority').form-control
							option(value='1') 1
							option(value='2') 2
							option(value='3') 3
							option(value='4') 4
							option(value='5') 5
						input(type='text', name='status', placeholder='Status').form-control
						input(type='text', name='due', placeholder='Due date (1/2/34)').form-control
						button(type='submit').btn.btn-primary Submit
		div(style='height: 20px; width: 100%; display: block;')
		.row
			each task in tasks
				.col-md-4
					.panel.panel-default
						.panel-heading
							a(href='/admin/tasks/#{task.id}')
								h3.panel-title= task.name
						.panel-body
							p
								strong PRIORITY: 
								span= task.priority
							p
								strong STATUS: 
								span= task.status
							p.pull-right
								| Due 
								span= task.due
