extends ../layouts/admin

block content
	.container
		form(action="/admin/tasks/#{task.id}", method="post")
			.form-group
				.row
					.col-md-12
						label(for="name") Name
						input(type="text", placeholder="Name of Task", name="name", value='#{task.name}').form-control

			.form-group
				.row
					.col-md-12
						label(for="priority") Priority
						select(name='priority').form-control
							option(value='1') 1
							option(value='2') 2
							option(value='3') 3
							option(value='4') 4
							option(value='5') 5
			.form-group
				.row
					.col-md-12
						label(for="status") Status
						input(type="text", placeholder="Status", name="status", value='#{task.status}').form-control

			.form-group
				.row
					.col-md-12
						label(for="due") Due
						input(type="text", placeholder="1/2/1234", name="due", value='#{task.due}').form-control

			.form-group
				.row
					.col-md-12
						button(type="submit").btn.btn-primary.pull-right Submit
			.spacer-small
				.row
					.col-md-12
						a(href='/admin/tasks/delete/#{task.id}').btn.btn-danger.pull-right Delete
