.spacer-small
footer
  .container
    hr
    ul.list-inline.pull-left
      li
        a(href='/contact') Contact us
      li
        a(href='/licensing') Licensing
      li
        a(href='/about') About our business
    span.pull-right Copyright© 2015
