nav.navbar.navbar-default.navbar-static-top
	.container
		// Brand and toggle get grouped for better mobile display
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar-collapse-1', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') Splotchbot Studios
		#bs-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a(href='/') Home
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						| Projects 
						span.caret
					ul.dropdown-menu
						li
							a(href='/projects/danny') Danny the Reaper
				li
					a(href='/about') About
				li
					a(href='/contact') Contact
				li
					a(href='/blog') Development Blog
			ul.nav.navbar-nav.navbar-right
				li
					a(href='/team') The Team
				li
					a(href='/soundtracks') Soundtracks
.spacer-small
