doctype html
html(lang="en")
	head
		title= title
		block stylesheets
			link(rel='stylesheet', href='/stylesheets/custom.css')
			link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css')
		block scripts
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
			script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
			script(src='http://js.nicedit.com/nicEdit-latest.js')

	body
		include ../partials/header.jade

		.container
			nav.navbar.navbar-default
				.container-fluid
					// Brand and toggle get grouped for better mobile display
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar-collapse-2', aria-expanded='false')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						span.navbar-brand(href='/') Admin
					#bs-navbar-collapse-2.collapse.navbar-collapse
						ul.nav.navbar-nav
							li
								a(href='/admin/tasks') Tasks
							li
								a(href='/admin/notes') Notes
							li
								a(href='/admin/messages') Messages
							li
								a(href='/admin/posts') Manage blog posts
							li
								a(href='/admin/posts/new') New blog post

		block content

		include ../partials/footer.jade
