doctype html
html(lang="en")
	head
		title= title
		block stylesheets
			link(rel='stylesheet', href='/stylesheets/custom.css')
			link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css')
		block scripts
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
			script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-83417315-1', 'auto');
			ga('send', 'pageview');

	body
		include ../partials/header.jade
		
		block content

		include ../partials/footer.jade
