extends layouts/primary

block content
	.container
		.row
			.col-md-12
				h1.page-header About us #[small or how we learned to stop worrying and love the bot]
		
		.row
			.col-md-6
				p.lead Splotchbot Studios is a Florida based game development company, formed in 2015 by a group of three individuals who liked one thing - great games. Originally as the brain child of lead developer #[a(href="/team") Mark], Splotchbot Studios has grown to be a thriving development studio that strives to build great games for great people.
			
			.col-md-2
			.col-md-3
				img(src="/images/profile/mark.jpg", alt="Mark Rawls").img-responsive.profile-picture
			.col-md-1
		.spacer-small
		.row
			.col-md-6
				h2 But how did you start?
			
			.col-md-6
				p.lead Easy. It starts with a small idea - something easy, something quick, and you add love and devotion until it grows into something that you hope others will love as much as you do. In our case, it started out with #[a(href="/projects/danny") Danny the Reaper].
				p.lead Danny the Reaper is an SNES-inspired RPG with influences from all kinds of classics, widely-renowned or cult. It is still currently in development, but we hope to have a beta release out in 2016 for everyone to enjoy!
		.spacer
		.row
			.col-md-12
				p.lead If you're looking for more information (or to provide assistance!), reach out to us through our #[a(href="/contact") contact page] and we will get back to you the moment we can.