extends layouts/primary

block content
	if post
		.row
			.col-md-12
				.jumbotron
					h1 Thank you for contacting us!
					p.lead We'll be in touch shortly.
					a(href="/contact"): button.btn.btn-primary.btn-lg Send another message
	else
		.container
			.row
				.col-md-6
					h1.page-header Reach out to us!
				.col-md-6
					h1.page-header Subscribe to our mailing list!

			.row
				.col-md-6
					form(action="/contact", method="post")
						label(for="name") Your full name
						input(type="text", name="name", required="true").form-control

						label(for="email") Your Email address
						input(type="text", name="email", required="true").form-control

						label(for="subject") Subject
						input(type="text", name="subject", required="true").form-control

						label(for="message") Your message
						textarea(name="message", required="true").form-control

						br

						button(type="submit").btn.btn-primary Submit

				.col-md-6
					// Begin MailChimp Signup Form
					//- link(href='//cdn-images.mailchimp.com/embedcode/classic-081711.css', rel='stylesheet', type='text/css')
					#mc_embed_signup
						form#mc-embedded-subscribe-form.validate(action='//splotchbotstudios.us12.list-manage.com/subscribe/post?u=c3e22fd02fee5e5ff575bb09d&id=4b0fc65cf0', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
							#mc_embed_signup_scroll
								.mc-field-group
									label(for='mce-EMAIL') Email Address
										span.asterisk *
									input#mce-EMAIL.required.email(type='email', value='', name='EMAIL').form-control
								.mc-field-group
									label(for='mce-FNAME') First Name
									input#mce-FNAME(type='text', value='', name='FNAME').form-control
								.mc-field-group
									label(for='mce-LNAME') Last Name
									input#mce-LNAME(type='text', value='', name='LNAME').form-control
								#mce-responses.clear
									#mce-error-response.response(style='display:none')
									#mce-success-response.response(style='display:none')
								div(style='position: absolute; left: -5000px;', aria-hidden='true')
									input(type='text', name='b_c3e22fd02fee5e5ff575bb09d_4b0fc65cf0', tabindex='-1', value='')
								.clear
									br
									input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe').btn.btn-primary
	script(src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
	script.
		(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
	// End mc_embed_signup
