extends layouts/primary

block content
	.container
		.row
			.col-md-12
				#carousel-example-generic.carousel.slide(data-ride='carousel')
					// Indicators
					ol.carousel-indicators
						li.active(data-target='#carousel-example-generic', data-slide-to='0')
						//li(data-target='#carousel-example-generic', data-slide-to='1')
					// Wrapper for slides
					.carousel-inner(role='listbox')
						.item.active
							img(src='/images/oix-banner-pic.jpg', alt='OiX Banner', class='img-responsive')
							.carousel-caption
								h3 The team at OiX 2017
						//.item
							//img(src='/images/sb-slider.png', alt='Splotchbot Studios')
					// Controls
					a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
						span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
						span.sr-only Previous
					a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
						span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
						span.sr-only Next
		.spacer
		.row
			.col-md-4.triplet
				h3 What is Splotchbot Studios?
				p.
					We are an independent game development studio based out of south eastern United States. We like to make games that make you smile. Check our Team page to meet our members!
			.col-md-4.triplet
				h3 Who writes all of your music?
				p.
					Basically all of us. We're big believers of the "do-it-yourself" philosophy, so everything that is developed is done 100% in house. Two of our founding members are professional musicians, so that certainly helps!
			.col-md-4.triplet
				h3 How can we get updates?
				p.
					Head to our contact page and hit the subscribe button! We'll add you to our mailing list and send out periodic updates from there. Don't worry, we won't spam you. And if you ever want off, it's as easy as hitting unsubscribe!
		.spacer
	.container
		.jumbotron.well
			a(href='/blog/post/#{post.id}')
				h1= post.title
			p= post.content.split('').slice(0, 300).join('') + '...'
			.spacer-small
			p
				a.btn.btn-primary.btn-lg(href='/blog/post/#{post.id}', role='button') Read more
