extends layouts/primary

block content
   .container
      .row
         .col-md-6
            .container-fluid.bio-container
               .col-md-4
                  br
                  img(src="/images/profile/nate.jpg", alt="Nate Harman").img-responsive.profile-picture
               .col-md-8
                  h2 Nate Harman
                  p The president of the studio, as well as part-time programmer and musical composer, Nate enjoys lifting weights and playing rugby, as well as the violin and guitar. Check him out on Twitter #[a(href="https://twitter.com/NateDaGr8Harman") @NateDaGr8Harman] or on Instagram #[a(href="https://www.instagram.com/natethegreatharman/") @natethegreatharman].
         
         .col-md-6
            .container-fluid.bio-container
               .col-md-4
                  br
                  img(src="/images/profile/mark.jpg", alt="Mark Rawls").img-responsive.profile-picture
               .col-md-8
                  h2 Mark Rawls
                  p The VP of Tech Development for the studio, as well as lead composer and musical director. Mark is a very musical man, and harbors a great love of software development. He plays the drums, guitar, bass, and piano. Check him out on Twitter #[a(href="https://twitter.com/MarkieMarkRawls") @MarkieMarkRawls] or on Instagram #[a(href="https://www.instagram.com/markrawls/") @MarkRawls].
         
         .col-md-6
            .container-fluid.bio-container
               .col-md-4
                  br
                  img(src="/images/profile/tres.jpg", alt="Tres Sims").img-responsive.profile-picture
               .col-md-8
                  h2 Tres Sims
                  p The VP of Design for the studio, Tres is a game designer studying at the University of Central Florida in the experimental animation program. He enjoys studying 3D Design and animation in his free time and is the head designer for Splotchbot Studios.

         .col-md-6
            br
            .container-fluid.bio-container
               .col-md-4
                  br
                  img(src="/images/profile/nicole.jpg", alt="Nicole Solt").img-responsive.profile-picture
               .col-md-8
                  h2 Nicole Solt
                  p A member of the art and animation teams, Nicole studied emerging media with a specialization in experimental animation at UCF. They enjoy a wide variety of art forms, including 2D and 3D art.

         .col-md-6
            br
            .container-fluid.bio-container
               .col-md-4
                  br
                  img(src="/images/profile/amanda.jpg", alt="Amanda Meyer").img-responsive.profile-picture
               .col-md-8
                  h2 Amanda Meyer
                  p A multi-talented artist, Amanda is on the art, design, and music teams. She studied Game Design at UCF and in her spare time is a gifted mezzo-soprano vocalist.
