$blue: #2c3e50;

// Universal
html, body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 100%;
	width: 100%;
	min-height: 100%;
}

// Body
.triplet {
	text-align: center;
	h3 {
		color: $blue;
	}
	p {
		margin-left: 10px;
		margin-right: 10px;
		text-align: center;
		padding: 0px 8px;
	}
}

.spacer {
	height: 60px;
	width: 100%;
	display: block;
}

.spacer-small {
	height: 30px;
}

.segment {
	height: 400px;
	width: 100%;
}

.segment.blue {
	background-color: $blue;
	color: white;
}

// Bio classes

.bio-container {
	border: 2px solid $blue;
	border-radius: 5px;
	padding: 10px 0px;
}

img.profile-picture {
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Footer
footer {
	color: #757575;
}
