html, body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 100%;
  width: 100%;
  min-height: 100%; }

.triplet {
  text-align: center; }
  .triplet h3 {
    color: #2c3e50; }
  .triplet p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 0px 8px; }

.spacer {
  height: 60px;
  width: 100%;
  display: block; }

.spacer-small {
  height: 30px; }

.segment {
  height: 400px;
  width: 100%; }

.segment.blue {
  background-color: #2c3e50;
  color: white; }

.bio-container {
  border: 2px solid #2c3e50;
  border-radius: 5px;
  padding: 10px 0px; }

img.profile-picture {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

footer {
  color: #757575; }

/*# sourceMappingURL=custom.css.map */