extends ../layouts/primary

block content
	.container#blog-container
		if posts
			each post in posts
				.row
					.col-md-12
						a(href='/blog/post/#{post.id}')
							h2!= post.title
						h4= post.posted_at
				.row
					.col-md-12
						.post-content.lead
							span= post.content.split('').slice(0, 300).join('') + '...'
						br
						a(href='/blog/post/#{post.id}').btn.btn-default Read More
				.row
					.col-md-3
					.col-md-6
						hr
					.col-md-3
		else
			.row
				.col-md-12
					h1.text-center.text-error No posts found!

		if posts.length >= 25
			.row
				.col-md-12
					a(href="/blog?page=#{page + 1}").btn.btn-primary.pull-right Next
					if posts[-1].id > 1
						a(href="/blog?page=#{page + 1}").btn.btn-primary.pull-left Previous
