extends ../layouts/primary

block content
	.container
		form(action="/blog/post", method="post")
			.form-group
				.row
					.col-md-12
						label(for="title") Title
						input(type="text", placeholder="Title", name="title").form-control#title
			.form-group
				.row
					.col-md-12
						label(for="content") Body Content
						textarea(name="content", rows="15", placeholder="Body Content").form-control#content

			.form-group
				.row
					.col-md-12
						label(for="password") Password
						input(type="password", placeholder="Password", name="password").form-control#password

			.form-group
				.row
					.col-md-12
						button(type="submit").btn.btn-primary Submit
