extends ../layouts/primary

block content
	.container#blog-container
		if post
			.row
				.col-md-12
					h2!= post.title
					h4= post.posted_at
			.row
				.col-md-12
					.post-content.lead
						span!= post.content
		else
			.row
				.col-md-12
					h1.text-center.text-error No posts found by that id!